/.vscode
/data_inventaris.json
/kel 2 projek aplikasi
/kel 2 projek aplikasi.zip
/pengeluaran.db
/prokom
/prokom 10
/prokom 11
/prokom 12
/prokom 3
/prokom 4
/prokom 5
/prokom 6
/prokom 7
/prokom 8
/prokom 9